<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SMGMT</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>YearActivator</servlet-name>
    <servlet-class>com.activator.YearActivator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YearActivator</servlet-name>
    <url-pattern>/YearActivator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClassRoom</servlet-name>
    <servlet-class>com.servletStore.settings.classRoom.controller.AddClassRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassRoom</servlet-name>
    <url-pattern>/AddClassRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.servletStore.student.controller.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Section</servlet-name>
    <servlet-class>com.servletStore.settings.section.controller.Section</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Section</servlet-name>
    <url-pattern>/Section</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStandard</servlet-name>
    <servlet-class>com.servletStore.settings.standard.controller.AddStandard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStandard</servlet-name>
    <url-pattern>/AddStandard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.servletStore.login.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Caste</servlet-name>
    <servlet-class>com.servletStore.settings.caste.controller.Caste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Caste</servlet-name>
    <url-pattern>/Caste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>School</servlet-name>
    <servlet-class>com.servletStore.settings.school.controller.School</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>School</servlet-name>
    <url-pattern>/School</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StdSectionAssignment</servlet-name>
    <servlet-class>com.servletStore.settings.standard.controller.StdSectionAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StdSectionAssignment</servlet-name>
    <url-pattern>/StdSectionAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Library</servlet-name>
    <servlet-class>com.servletStore.library.controller.Library</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Library</servlet-name>
    <url-pattern>/Library</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Setup</servlet-name>
    <servlet-class>com.servletStore.setup.controller.Setup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setup</servlet-name>
    <url-pattern>/Setup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Subjects</servlet-name>
    <servlet-class>com.servletStore.settings.subjects.controller.Subjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subjects</servlet-name>
    <url-pattern>/Subjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectAssignment</servlet-name>
    <servlet-class>com.servletStore.settings.subjects.controller.SubjectAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAssignment</servlet-name>
    <url-pattern>/SubjectAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vehicle</servlet-name>
    <servlet-class>com.servletStore.transportation.controller.Vehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle</servlet-name>
    <url-pattern>/Vehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Driver</servlet-name>
    <servlet-class>com.servletStore.transportation.controller.Driver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Driver</servlet-name>
    <url-pattern>/Driver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Conductor</servlet-name>
    <servlet-class>com.servletStore.transportation.controller.Conductor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conductor</servlet-name>
    <url-pattern>/Conductor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Route</servlet-name>
    <servlet-class>com.servletStore.transportation.controller.Route</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Route</servlet-name>
    <url-pattern>/Route</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Destination</servlet-name>
    <servlet-class>com.servletStore.transportation.controller.Destination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Destination</servlet-name>
    <url-pattern>/Destination</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignRoute</servlet-name>
    <servlet-class>com.servletStore.transportation.controller.AssignRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignRoute</servlet-name>
    <url-pattern>/AssignRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDocument</servlet-name>
    <servlet-class>com.servletStore.settings.document.controller.AddDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocument</servlet-name>
    <url-pattern>/AddDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InwardRegister</servlet-name>
    <servlet-class>com.servletStore.register.controller.InwardRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InwardRegister</servlet-name>
    <url-pattern>/InwardRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutwardRegister</servlet-name>
    <servlet-class>com.servletStore.register.controller.OutwardRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutwardRegister</servlet-name>
    <url-pattern>/OutwardRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StockRegister</servlet-name>
    <servlet-class>com.servletStore.register.controller.StockRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockRegister</servlet-name>
    <url-pattern>/StockRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>casteWiseEduFees</servlet-name>
    <servlet-class>com.servletStore.fees.casteWiseEduFees.controller.casteWiseEduFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>casteWiseEduFees</servlet-name>
    <url-pattern>/casteWiseEduFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PTAMember</servlet-name>
    <servlet-class>com.servletStore.ptamember.controller.PTAMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PTAMember</servlet-name>
    <url-pattern>/PTAMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GeneralRegister</servlet-name>
    <servlet-class>com.servletStore.report.generalRegister.controller.GeneralRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralRegister</servlet-name>
    <url-pattern>/GeneralRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.servletStore.login.controller.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SchoolTransferServlet</servlet-name>
    <servlet-class>com.servletStore.attendance.schoolTransfer.controller.SchoolTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchoolTransferServlet</servlet-name>
    <url-pattern>/SchoolTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCatalogServlet</servlet-name>
    <servlet-class>com.servletStore.attendance.catalogYearChange.controller.CatalogYearChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCatalogServlet</servlet-name>
    <url-pattern>/CatalogYearChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.servletStore.signup.controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeeType</servlet-name>
    <servlet-class>com.servletStore.fees.feeType.controller.FeeType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeType</servlet-name>
    <url-pattern>/FeeType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Installment</servlet-name>
    <servlet-class>com.servletStore.fees.installment.controller.Installment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Installment</servlet-name>
    <url-pattern>/Installment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignStdWiseFees</servlet-name>
    <servlet-class>com.servletStore.fees.assignStdWiseFees.controller.AssignStdWiseFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignStdWiseFees</servlet-name>
    <url-pattern>/AssignStdWiseFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class> com.servletStore.report.libraryReport.controller.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeesCollection</servlet-name>
    <servlet-class>com.servletStore.fees.feescollection.controller.FeesCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesCollection</servlet-name>
    <url-pattern>/FeesCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignFee</servlet-name>
    <servlet-class>com.servletStore.fees.feescollection.controller.AssignFee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignFee</servlet-name>
    <url-pattern>/AssignFee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCashBook</servlet-name>
    <servlet-class>com.servletStore.cashBook.controller.AddCashBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCashBook</servlet-name>
    <url-pattern>/AddCashBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CashBookLedgerAccount</servlet-name>
    <servlet-class>com.servletStore.cashBook.controller.CashBookLedgerAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashBookLedgerAccount</servlet-name>
    <url-pattern>/CashBookLedgerAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubAccount</servlet-name>
    <servlet-class>com.servletStore.cashBook.controller.SubAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubAccount</servlet-name>
    <url-pattern>/SubAccount</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdmissionReport</servlet-name>
    <servlet-class>com.servletStore.report.admissionReport.controller.AdmissionReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionReport</servlet-name>
    <url-pattern>/AdmissionReport</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudAddressInfo</servlet-name>
    <servlet-class>com.servletStore.report.studAddressInfo.controller.StudAddressInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudAddressInfo</servlet-name>
    <url-pattern>/StudAddressInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudGeneralInfo</servlet-name>
    <servlet-class>com.servletStore.report.StudGeneralInfo.controller.StudGeneralInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudGeneralInfo</servlet-name>
    <url-pattern>/StudGeneralInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CashBookEntry</servlet-name>
    <servlet-class>com.servletStore.cashBook.cashBookEntry.controller.CashBookEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashBookEntry</servlet-name>
    <url-pattern>/CashBookEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBank</servlet-name>
    <servlet-class>com.servletStore.settings.bank.conroller.AddBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBank</servlet-name>
    <url-pattern>/AddBank</url-pattern>
  </servlet-mapping>
</web-app>
