<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MSaleERP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.servletStore.common.DoLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.servletStore.common.DoLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>com.servletStore.settings.classRoom.controller.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.servletStore.student.controller.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Section</servlet-name>
    <servlet-class>com.servletStore.settings.section.controller.Section</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Section</servlet-name>
    <url-pattern>/Section</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStandard</servlet-name>
    <servlet-class>com.servletStore.settings.standard.controller.AddStandard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStandard</servlet-name>
    <url-pattern>/AddStandard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.servletStore.login.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Caste</servlet-name>
    <servlet-class>com.servletStore.settings.caste.controller.Caste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Caste</servlet-name>
    <url-pattern>/Caste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>School</servlet-name>
    <servlet-class>com.servletStore.settings.school.controller.School</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>School</servlet-name>
    <url-pattern>/School</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StdSectionAssignment</servlet-name>
    <servlet-class>com.servletStore.settings.standard.controller.StdSectionAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StdSectionAssignment</servlet-name>
    <url-pattern>/StdSectionAssignment</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.servletStore.library.controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
</web-app>